body {
	background-color: #ffffff;
	color: #000000;
}

p {
	
	font-family:sans-serif;
	white-space: nowrap;
	font-size: 20px !important;
	text-align: justify;
	text-align: center !important;
}

rapTrap{
	font-size: 22px !important;
	font-weight: bold !important;
}

h3{
	font-size: 22px !important;
}

table, th, td { text-align: center !important; }

nombre{
	white-space: nowrap;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 24px;
	text-align: right !important;
	right: 100%;
	color: #ffffff;
}

h1{
	font-size: 60px;
}

em {
	font-weight: bold; /* Ponemos en énfasis en negrita */
}
