body {
	background-color: #ffffff;
	color: #000000;
}

p{

}

td {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

h3{
	font-size: 22px !important;
}

table, th, td { text-align: center !important; }

h1{
	font-size: 60px;
}

em {
	font-weight: bold; /* Ponemos en énfasis en negrita */
}
